body {
    overflow: hidden;
    display: none;
    font-family: 'Roboto', sans-serif;
}

/*
 * Hidden scrollbar
 */
::-webkit-scrollbar{
    width: 0px;
}

::-webkit-scrollbar-track-piece{
    background-color: transparent;
    -webkit-border-radius: 6px;
}

.dialog {
    display: none;
    width: 75%;
    height: 75%;
    position: absolute;
    left: 50%;
    top: 12.5%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: rgba(40, 40, 40, 0.7);
    border-radius: 6px;
}

.characters {
    width: 50%;
    height: 85%;
    position: absolute;
    left: 27%;
    top: 2.5%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #282828;
    border-radius: 6px;
    overflow-y: scroll;
}

.changelog {
    width: 43%;
    height: 93%;
    position: absolute;
    left: 76.5%;
    top: 2.5%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #282828;
    border-radius: 6px;
    overflow-y: scroll;
}

.buttons {
    width: 52.1%;
    height: 6%;
    position: absolute;
    display: inline;
    left: 1.2%;
    bottom: 2%;
}

button {
    border: 0;
    color: #fff;
    width: 32.5%;
    height: 100%;
    border-radius: 3px;
    font-size: 1rem;
    text-align: center;
}

.character {
  background-color: #0052a5;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  padding: 8px;
  margin-top: 5px;
  }
  p {
    font-size: 18px;
    color: white;
    margin-left: 15px;
    margin-right: 25px;
  }
}

li {
 color: white;
 font-weight: 400;
 text-align: left;
 font-size: 18px;
 font-family: 'Open Sans', sans-serif;
}

input[type=text] {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-top: 3px;
    text-align: left;
    border-radius: 3px;
    font-weight: 500;
    border: 2px solid #aaa;
    font-size: 18px;
}

select {
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    margin-top: 3px;
    text-align: left;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    border-radius: 4px;
    border: 2px solid #aaa;
    font-size: 18px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-top: 3px;
    text-align: left;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    border: 2px solid #aaa;
    border: 2px solid #aaa;
    text-transform: capitalize;
    font-size: 18px;
}
